body {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgound-color {
    background-color: blue;
    /* setta background color */
    color: white;
}

.image {
    background-image: url('./assets/thunder.jpg');
    color: white;
}

.image2 {
    background-image: url('./assets/leaves.jpg');
    color: black;
}

.background-cover {
    background-size: cover;
    background-position: center;
}

.attachment-fixed {
    background-attachment: fixed;
}

.background-repeat {
    background-repeat: repeat;
    background-size: contain;
    
}

.shorthand {
    background: url('./assets/tesla.jpg') scroll no-repeat center center/cover;
    color: white;
    /* FORMAT JE: */
    /* background: [image] [position] [size] [repeat] [origin] [clip]; */
}

.gradient {
    background: linear-gradient(270deg, #041e64, #ad00cf) center bottom / 100% 200%;
    /* 
        linear-gradient(270deg, #ff69b4, #87ceeb) defines the gradient from bottom to top.
    center bottom sets the starting point at the bottom center.
    / 100% 200% defines the size of the gradient, ensuring it covers the entire container vertically (100%) and horizontally (200%).
    */
    color: rgba(255, 255, 255, 1)
}

.new1 {
    min-height: 60rem;
    display: flex;
    color: black;
    justify-content: center;
    align-items: end;
    /* odavde */
    background-image: url('./assets/thunder.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: top;

}

.new2 {
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;

}

.new2 h1 {
    border: solid 1px red;
    padding: 1rem 2rem;

}

.new3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('./assets/tesla.jpg');
    min-height: 30rem;
    background-size: cover;
    background-position: bottom;

}

.new4 {
    /* background-color: rgb(0,0,0);
    color: rgb(202, 24, 24) */
    /* RED GREEN BLUE */
    /* Range: 0 - 255 */
    /* HEX */
    /* Syntax sa # na pocetku */
    /* heksadekadski nacin zapisa RGB sustava */
    /* 2 znamenke daju jednu boju */
    background-color: hwb(0 100% 0%);


}