.naslov {
    /* padding-bottom: 1rem; */
    /* padding-top: 2rem; */
    /* padding-left: 3rem; */
    /* padding-right: 3rem; */
    /* padding: gore-dolje lijevo-desno */
    /* padding: 2rem 3rem; */
    /* padding: gore desno dolje lijevo */
    padding: 0px 40px 60px 20px;

    border-width: 10px;
    border-style: solid;
    border-color: violet;
    /* border-radius: 30px; */
    /* border-radius: gore-lijevo gore-desno dolje-desno dolje-lijevo */
    border-radius: 10px 5px 20px 60px;
    margin: 3rem;
}